<p id="notice"><%= notice %></p>

<h1>The Logz</h1>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Population</th>
      <th>Created At</th>
    </tr>
  </thead>

  <tbody>
    <% @the_logz.each do |the_logz| %>
      <tr>
        <td><%= the_logz.year %></td>
        <td><%= number_with_delimiter(the_logz.population) %></td>
        <td><%= to_pst(the_logz.created_at) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


