.side_by_side{
  width: 44em;
  margin: 1em;
  display: inline-block;
}

#hidden_calc{
  width: 16em;
  display:none; 
  ul{
    list-style:none;
    li{
      input{
        display: inline-block;
      }
      label{
        display: inline-block;
      }
    }
  }
}
